/*imported font styles from https://betterstudio.com/fonts/spotify-font/#:~:text=What%20is%20the%20Spotify%20website,in%20four%20weights%20and%20italics.*/
@font-face {

    font-family: "Spotify-Black";
    src: url("Gotham-Spotify-Font/Gotham-Black.otf") format("opentype");

}

@font-face {
    font-family: "Spotify-Bold";
    src:  url("Gotham-Spotify-Font/Gotham-Bold.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    
    font-family: "Spotify-ThinItalic";
    src:  url("Gotham-Spotify-Font/Gotham-ThinItalic.otf") format("opentype");
}
    
    
@font-face {
    font-family: "Spotify-BookItalic"; /*does not work*/
    src:  url("Gotham-Spotify-Font/Gotham-BookIalic.otf") format("opentype");
    font-style: italic;
}

@font-face {
    font-family: "Spotify-Thin";
    src:  url("Gotham-Spotify-Font/Gotham-Thin.otf") format("opentype");
    font-weight: thin;
}

@font-face {
    font-family: "Spotify-UltraItalic";
    src:  url("Gotham-Spotify-Font/Gotham-UltraItalic.otf") format("opentype");
    font-style: italic;
}
   
@font-face {
    font-family: "Spotify-XLight";
    src:  url("Gotham-Spotify-Font/Gotham-XLight.otf") format("opentype");
}

@font-face {
    font-family: "Spotify-XLightItalic";
    src:  url("Gotham-Spotify-Font/Gotham-XLightItalic.otf") format("opentype");
    font-style: italic;

}

@font-face {
    font-family: "Spotify-Bold2";
    src: url("Gotham-Spotify-Font/GothamBold.ttf") format("truetype");
}

@font-face {
    font-family: "Spotify-BoldItalic";
    src: url("Gotham-Spotify-Font/GothamBoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: bold;
}


@font-face {
    font-family: "Spotify-Light";
    src: url("Gotham-Spotify-Font/GothamLight.ttf") format("truetype");
}
    
@font-face {

    font-family: "Spotify-LightItalic";
    src: url("Gotham-Spotify-Font/GothamLightItalic.ttf") format("truetype");
}
    
@font-face {
    font-family: "Spotify-Medium1";
    src: url("Gotham-Spotify-Font/GothamMedium_1.ttf") format("truetype");
}


@font-face {
    font-family: "Spotify-Medium";
    src: url("Gotham-Spotify-Font/GothamMedium.ttf") format("truetype");
}
    
@font-face {

    font-family: "Spotify-MediumItalic";
    src: url("Gotham-Spotify-Font/GothamMediumItalic.ttf") format("truetype");    
}
@font-face {

    font-family: "Kangmas";
    src: url("kangmas-demo/Kangmas DEMO.ttf") format("truetype");    
}


/* Modify the background color */
.navbar-custom {
	background-color: #fff1e0; 
    font-family:'Spotify-Light';
}

.navbar-custom {
    height: 50px;
    margin-bottom: 20px;
    justify-content: center;
}
.navbar-custom ul {
    list-style-type: none;
    text-align: center;
    position: absolute;
    display: flex;
    margin-left: 30%;
}

.nav-link {
    display: flex;
    justify-content: center
}


.body {
    background-color: #FFFBF0/*#141414;*/
    /* text-color: #cbcbcb; text color */
}

h1 {
    color:  #fc9593  /*#1eb954*/;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 3px 1px 0px pink;/*#ff8ea1*/;  /*#cbcccc; */
    font-family:'Kangmas', 'Spotify-Bold', 'Franklin Gothic';
    font-size: 40px; /* not working */
}

h2 {
    color: #ffa8a7;/*#ff8ea1*/;  /*#cbcccc; */
    font-family:'Kangmas', 'Spotify-BoldItalic', 'Franklin Gothic';
    font-size: 100px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.page_title {
    margin-left: 20px;
    padding-top: 20px;
}

.album-cover {
    width: 200px;
    height: auto;
}

.artist-photo {
    width: 200px;
    height: auto;
}

.track_link_div {
    margin: 30px;
}
.link, .nav-item {
    color: #b8cdc4 ;
    text-decoration: none;
    font-family: 'Spotify-Light';
}
.link a:visited {
    color: #1eb954; 
    text-decoration: none;
}


.multi-carousel-item {
    width: 100px;
    height: auto;
}


.track_grid_div {
    height: 350px;
    margin: 30px;
    padding-top: 40px;

    background-color: #fff1e0;
}