
@font-face {

    font-family: "Spotify-Black";
    src: url("Gotham-Spotify-Font/Gotham-Black.otf") format("opentype");

}

@font-face {
    font-family: "Spotify-Bold";
    src:  url("Gotham-Spotify-Font/Gotham-Bold.otf") format("opentype");
    font-weight: bold;
}

@font-face {
    
    font-family: "Spotify-ThinItalic";
    src:  url("Gotham-Spotify-Font/Gotham-ThinItalic.otf") format("opentype");
}
    
    
@font-face {
    font-family: "Spotify-BookItalic"; /*does not work*/
    src:  url("Gotham-Spotify-Font/Gotham-BookIalic.otf") format("opentype");
    font-style: italic;
}

@font-face {
    font-family: "Spotify-Thin";
    src:  url("Gotham-Spotify-Font/Gotham-Thin.otf") format("opentype");
    font-weight: thin;
}

@font-face {
    font-family: "Spotify-UltraItalic";
    src:  url("Gotham-Spotify-Font/Gotham-UltraItalic.otf") format("opentype");
    font-style: italic;
}
   
@font-face {
    font-family: "Spotify-XLight";
    src:  url("Gotham-Spotify-Font/Gotham-XLight.otf") format("opentype");
}

@font-face {
    font-family: "Spotify-XLightItalic";
    src:  url("Gotham-Spotify-Font/Gotham-XLightItalic.otf") format("opentype");
    font-style: italic;

}


@font-face {
    font-family: "Spotify-Bold2";
    src: url("Gotham-Spotify-Font/GothamBold.ttf") format("truetype");
}

@font-face {
    font-family: "Spotify-BoldItalic";
    src: url("Gotham-Spotify-Font/GothamBoldItalic.ttf") format("truetype");
    font-style: italic;
    font-weight: bold;
}


@font-face {
    font-family: "Spotify-Light";
    src: url("Gotham-Spotify-Font/GothamLight.ttf") format("truetype");
}
    
@font-face {

    font-family: "Spotify-LightItalic";
    src: url("Gotham-Spotify-Font/GothamLightItalic.ttf") format("truetype");
}
    
@font-face {
    font-family: "Spotify-Medium1";
    src: url("Gotham-Spotify-Font/GothamMedium_1.ttf") format("truetype");
}


@font-face {
    font-family: "Spotify-Medium";
    src: url("Gotham-Spotify-Font/GothamMedium.ttf") format("truetype");
}
    
@font-face {

    font-family: "Spotify-MediumItalic";
    src: url("Gotham-Spotify-Font/GothamMediumItalic.ttf") format("truetype");    
}



    /* src: url("Gotham-Spotify-Font/Gotham-Bold.otf") format("opentype"),
    url("Gotham-Spotify-Font/Gotham-BookIalic.otf") format("opentype"),
    url("Gotham-Spotify-Font/Gotham-Thin.otf") format("opentype"),
    url("Gotham-Spotify-Font/Gotham-ThinItalic.otf") format("opentype"),
    url("Gotham-Spotify-Font/Gotham-UltraItalic.otf") format("opentype"),
    url("Gotham-Spotify-Font/Gotham-XLight.otf") format("opentype"),
    url("Gotham-Spotify-Font/Gotham-XLightItalic.otf") format("opentype");
    src: url("Gotham-Spotify-Font/GothamBold.ttf") format("tff"),
    url("Gotham-Spotify-Font/GothamBoldItalic.ttf") format("tff"),
    url("Gotham-Spotify-Font/GothamBold.ttf") format("tff"),
    url("Gotham-Spotify-Font/GothamBoldItalic.ttf") format("tff"),
    url("Gotham-Spotify-Font/GothamLight.ttf") format("tff"),
    url("Gotham-Spotify-Font/GothamLightItalic.ttf") format("tff"),
    url("Gotham-Spotify-Font/GothamMedium_1.ttf") format("tff"),
    url("Gotham-Spotify-Font/GothamMedium.ttf") format("tff"),
    url("Gotham-Spotify-Font/GothamMediumItalic.ttf") format("tff"); */
    



.body {
    background-color: #141414;
    color: #cbcbcb; /*text color*/
}

h1 {
    color: #1eb954;
    font-family:'Spotify-Bold', 'Franklin Gothic';
    
}