{% extends 'layout.html' %}
{% block title%}
Analyzing Data
{% endblock %}

{% block page_title%}
T o p  A r t i s t s  :  {{term}}
{% endblock %}

{% block main%}
<p>blurb about how this all works</p>
<div class="container" style="display:flex">
  <div class="row"> 
    <div class="col col-lg"  style=" border-style: dotted; padding-left: 0; padding-right: 0; width:70%"> <!-- the first vertical half of the page-->
      <h2>Your Top Artists</h2>
  
        <div class="container text-center">
          {% for artist in top_artists["items"]%}
          <div class="row">
            <div class="col-lg">
              <div class="artist_grid_div">
                <img class="album-cover" src="{{artist["images"][1]["url"]}}" class="img-fluid" alt="{{artist["
                  name"]}}">
                <br>
                <a class="link" href="{{artist["href"]}}">{{artist["name"]}}</a> <br><br>
              </div>
            </div>
            <div class="col-sm" style="padding-top:25px;">
              <h3>{{artist["name"]}}</h3>
              <ul style="text-align: left">
                <li>Popularity: {{artist["popularity"]}}/100</li>

                <li>
                  Genres: 
                  {% set num_artists = artist["genres"] | length %}

                  {% for index in range(num_artists - 1) %} <!--- adds a comma after every genre save the last-->
                    {{artist["genres"][index]}}, 

                  {% endfor %}

                  {% if num_artists > 0 %}
                    {{artist["genres"][num_artists - 1]}}
                  {% endif %}
                </li><br>

                <li>
                  Top Tracks: 
                  {% set artist_top_tracks = artist_data[artist["name"]]["artist_top_tracks"] %}
                  {% set artist_top_tracks_len = artist_top_tracks | length%}
                    
                  {% for index in range(artist_top_tracks_len-1) %}
                    <a class="link" href="{{artist_top_tracks[index]["href"]}}">{{artist_top_tracks[index]["name"]}},</a> 
                  {% endfor %}
  
                  {% if artist_top_tracks_len > 0 %}
                  <a class="link" href="{{artist_top_tracks[artist_top_tracks_len - 1]["href"]}}"> {{artist_top_tracks[artist_top_tracks_len - 1]["name"]}}</a>  
                  {% endif %}

                </li>
               

                <li>Your Favorites: 
                  {% set user_top_tracks = artist_data[artist["name"]]["user_top_tracks"] %}
                  {% set user_top_tracks_len = user_top_tracks | length%}
                    
                  {% for index in range(user_top_tracks_len-1) %}
                    <a class="link" href="{{user_top_tracks[index]["href"]}}">{{user_top_tracks[index]["name"]}},</a> 
                  {% endfor %}
  
                  {% if user_top_tracks_len > 0 %}
                  <a class="link" href="{{user_top_tracks[user_top_tracks_len - 1]["href"]}}"> {{user_top_tracks[user_top_tracks_len - 1]["name"]}}</a>  
                  {% endif %}
                </li>
            
               
                <li>
                  Associated Artists: 
                  {% set associated_artists = artist_data[artist["name"]]["associated_artists"] %}
                  {% set associated_artists_len = associated_artists | length %}

                  {% for index in range(associated_artists_len - 1) %} <!--- adds a comma after every associated artist save the last-->
                  <a class="link" href="{{associated_artists[index]["href"]}}">{{associated_artists[index]["name"]}},</a>  
            

                  {% endfor %}

                  {% if associated_artists_len > 0 %}
                  <a class="link" href="{{associated_artists[associated_artists_len - 1]["href"]}}"> {{associated_artists[associated_artists_len - 1]["name"]}}</a>  
                  {% endif %}
                </li>
              
              </ul>
              
            </div>
            
          </div>
  
          {% endfor %}
      </div>
    </div>
  
  
    <div class="col col-md-auto" style="text-align: left; border-style: dotted; max-width: 400px;"> <!-- the second vertical half of the page-->
      <h2>More analysis!</h2>
      <ul>
        <li>
          
          {% if artist_or_song_person == "song"%}
            <p>You are more of a <b>{{artist_or_song_person}}</b> person!</p> 
            <p>This means that you listen to only 1-2 songs for more than 50% of your top artists for this time range</p>
            
            {% else %}
            <p>You are more of an <b>{{artist_or_song_person}}</b> person!</p> <!-- appears repetitive but uses word "an" instead of "a"-->
            <p>This means that you listen to more than 1-2 songs for more than 50% of your top artists for this time range:</p>
            
          {% endif %}
    
          <p>top genres</p>
          <p>avg popularity of tracks and</p>
      
        </li>
      </ul>
     
    </div>
  </div>


</div>


{% endblock %}