{% extends 'layout.html' %}
{% block title%}
Analyzing Data
{% endblock %}

{% block page_title%}
T o p  A r t i s t s
{% endblock %}

{% block main%}

<div class="container" style="display:grid">
  <div class="row"> 
    <div class="col-sm"  style="width:30%; border-style: dotted; padding-left: 0; padding-right: 0;"> <!-- the first vertical half of the page-->
      <h2>{{term}}</h2>
  
        <div class="container text-center">
          {% for artist in top_artists["items"]%}
          <div class="row">
            <div class="col-md">
              <div class="artist_grid_div">
                <img class="album-cover" src="{{artist["images"][1]["url"]}}" class="img-fluid" alt="{{artist["
                  name"]}}">
                <br>
                <a class="link" href="{{artist["href"]}}">{{artist["name"]}}</a> <br><br>
              </div>
            </div>
            <div class="col-sm" style="padding-top:25px;">
              <h3>Artist name</h3>
              <p>eorihdsz;fA : ; wesdklf; cDOS>NFHK>HFE:OYO:SDHFLknfcn/kx</p>
              
            </div>
            
          </div>
  
          {% endfor %}
      </div>
    </div>
  
  
    <div class="col-6" style="border-style: dotted;"> <!-- the second vertical half of the page-->
      <h2>More analysis!</h2>
      <p>top genres</p>
      <p>avg popularity of tracks and</p>
  
    </div>
  </div>


</div>






<!-- 

<div class="col container">
  <div class="row align-items-start">
    <div class="col" style="width: 400px;">
      

      <h2>{{term}}</h2>

      <div class="container text-center">
        {% for artist in top_artists["items"]%}
        <div class="row">
          <div class="col">
            <div class="artist_grid_div">
              <img class="album-cover" src="{{artist["images"][1]["url"]}}" class="img-fluid" alt="{{artist["
                name"]}}">
              <br>
              <a class="link" href="{{artist["href"]}}">{{artist["name"]}}</a> <br><br>
            </div>
          </div>
          <div class="col">
            <h3>Artist name</h3>
            <p>eorihdsz;fA : ; wesdklf; cDOS>NFHK>HFE:OYO:SDHFLknfcn/kx</p>
            
          </div>
          
        </div>

        {% endfor %}
      </div>
    </div>
  </div>
</div>
  
  <div class="col">
    <h2>General analysis</h2>
    
  </div>
</div>
</div>





{% endblock %} -->


<!-- 
<h1>Top Artists</h1>
<h2>{{term}}</h2>

<div class="track_image_grid" class="container text-center">
    <div class="row">
        {% for artist in top_artists["items"]%}
        <div class="col track_grid_div">
            <img class="album-cover" src="{{artist["images"][1]["url"]}}" class="img-fluid" alt="{{artist[" name"]}}">
            <br>
            <a class="link" href="{{artist["href"]}}">{{artist["name"]}}</a> <br><br>
        </div>


        {% endfor %}
    </div>
</div>
</div> -->