{% extends 'layout.html' %}
{% block title%}
Analyzing Data
{% endblock %}

{% block page_title%}
Analyzing Data
{% endblock %}

{% block main%}

<h1>Top Artists</h1>
<h2>Short Term</h2>


<!-- artist["images"][1]["url"] -->



<div id="track_image_grid" class="container text-center">
    <div class="row">
        {% for artist in top_artists["short_term"]["items"]%}
          <div class="col track_grid_div">
            <img class= "album-cover" src="{{artist["images"][1]["url"]}}" class="img-fluid"
                alt="{{artist["name"]}}">
           <br>
                <a class="track-link"
                href="{{artist["href"]}}">{{artist["name"]}}</a><br /><br>
        </div>
        
      
        {% endfor %}
    </div>
</div>
</div>


{% endblock %}

  
        