{% extends 'layout.html' %}
{% block title%}
Track History
{% endblock %}

{% block page_title%}
T r a c k     H i s t o r y
{% endblock %}

{% block main%}


<!-- 
    {% for track in all_track_data %}
     
        track: {{track}}
        track link: {{all_track_data[track]['track_link']}}
        image link: {{all_track_data[track]['image_link']}} -->

<!-- Displays images and links to track-->



<!-- <div>
            <img width="250px" src="{{all_track_data[track]['image_link']}}" alt="{{all_track_data[track]['track_name']}}"><br/><br>
            <a href="{{all_track_data[track]['track_link']}}">{{all_track_data[track]['track_name']}}</a><br/><br>
        </div> 
       
       
    {% endfor %} -->

<h2>Short Term</h2>
{% for track_row in range(short_term_tracks | length)%}

<div id="track_image_grid" class="container text-center">
    <div class="row">
        {% for track in range(short_term_tracks[track_row] | length)%}
          <div class="col track_grid_div">
            <img class= "album-cover" src="{{short_term_tracks[track_row][track]['image_link']}}" class="img-fluid"
                alt="{{short_term_tracks[track_row][track]['track_name']}}">
           <br>
            <div class = "track_link_div">
                <a class="link"
                href="{{short_term_tracks[track_row][track]['track_link']}}">{{short_term_tracks[track_row][track]['track_name']}}</a><br /><br>
            </div>
               
        </div>
        
      
        {% endfor %}
    </div>
</div>
</div>

{% endfor %}

<h2>Medium Term</h2>
{% for track_row in range(medium_term_tracks | length)%}

<div id="track_image_grid" class="container text-center">
    <div class="row">
        {% for track in range(medium_term_tracks[track_row] | length)%}
          <div class="col track_grid_div">
            <img class= "album-cover" src="{{medium_term_tracks[track_row][track]['image_link']}}" class="img-fluid"
                alt="{{medium_term_tracks[track_row][track]['track_name']}}">
           <br>
                <a class="link"
                href="{{medium_term_tracks[track_row][track]['track_link']}}">{{medium_term_tracks[track_row][track]['track_name']}}</a><br /><br>
        </div>
        
      
        {% endfor %}
    </div>
</div>
</div>

{% endfor %}

<h2>Long Term</h2>
{% for track_row in range(long_term_tracks | length)%}

<div id="track_image_grid" class="container text-center">
    <div class="row">
        {% for track in range(long_term_tracks[track_row] | length)%}
          <div class="col track_grid_div">
            <img class= "album-cover" src="{{long_term_tracks[track_row][track]['image_link']}}" class="img-fluid"
                alt="{{long_term_tracks[track_row][track]['track_name']}}">
           <br>
                <a class="link"
                href="{{long_term_tracks[track_row][track]['track_link']}}">{{long_term_tracks[track_row][track]['track_name']}}</a><br /><br>
        </div>
        
      
        {% endfor %}
    </div>
</div>
</div>

{% endfor %}





{% endblock %}