{% extends 'layout.html' %}
{% block title%}
   Track History
{% endblock %}

{% block page_title%}
   Track History
{% endblock %}

{% block main%}

    <!-- {% include 'carousel.html' %}

    {% block carousel_items %}
        {% for track in all_track_data %}
        <div class="item">
            <div class="work">
                <div class="img d-flex align-items-center justify-content-center rounded" style="width: 300px; background-image: url({{all_track_data[track]['image_link']}};">
                    <img
                src="{{all_track_data[track]['image_link']}}"
                data-mdb-img="{{all_track_data[track]['image_link']}}"
                alt="{{all_track_data[track]['track_name']}}"
                class="w-100"
            />
                </div>
                 <div class="text pt-3 w-100 text-center">
                    <h3><a href="#">Work 01</a></h3>
                    <span>Web Design</span>
                </div> 
            </div>
        </div>
        {% endfor %}
    {% endblock%}
     -->


    {% for track in all_track_data %}
        <!-- 
        track: {{track}}
        track link: {{all_track_data[track]['track_link']}}
        image link: {{all_track_data[track]['image_link']}} -->

        <!-- Displays images and links to track-->
        

        
        <!-- <div>
            <img width="250px" src="{{all_track_data[track]['image_link']}}" alt="{{all_track_data[track]['track_name']}}"><br/><br>
            <a href="{{all_track_data[track]['track_link']}}">{{all_track_data[track]['track_name']}}</a><br/><br>
        </div> -->
       
       
    {% endfor %}



    <div class="lightbox">
        <div class="multi-carousel">
        <div class="multi-carousel-inner">

            {% for track in all_track_data %}
            <div class="multi-carousel-item" style="width:250px;">
            <img
                width="250px"
                src="{{all_track_data[track]['image_link']}}"
                data-mdb-img="{{all_track_data[track]['image_link']}}"
                alt="{{all_track_data[track]['track_name']}}"
                class="w-100"
            />
            </div>

            {% endfor %}
        </div>
        <button
            class="carousel-control-prev"
            type="button"
            tabindex="0"
            data-mdb-slide="prev"
        >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button
            class="carousel-control-next"
            type="button"
            tabindex="0"
            data-mdb-slide="next"
        >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
        </div>
    </div>

  {% endblock %} 