{% extends 'layout.html' %}
{% block title%}
   Track History
{% endblock %}

{% block page_title%}
   Track History
{% endblock %}

{% block main%}



    {% for track in all_track_data %}
        <!-- 
        track: {{track}}
        track link: {{all_track_data[track]['track_link']}}
        image link: {{all_track_data[track]['image_link']}} -->

        <!-- Displays images and links to track-->
        

        
        <!-- <div>
            <img width="250px" src="{{all_track_data[track]['image_link']}}" alt="{{all_track_data[track]['track_name']}}"><br/><br>
            <a href="{{all_track_data[track]['track_link']}}">{{all_track_data[track]['track_name']}}</a><br/><br>
        </div> -->
       
       
    {% endfor %}


    {% for track in all_track_data %}
    <div id="track_image_grid" class="container text-center">
        <div class="row track_grid_div" >
            <div class="col">
                <img src="{{all_track_data[track]['image_link']}}" class="img-fluid" alt="{{all_track_data[track]['track_name']}}">
            </div>

            </div>
        </div>
    </div>
    {% endfor %}



  {% endblock %} 